
<head></head>

<body>
  <div id="search-app">
    <input v-on:keyup.enter="doSearch" v-model="searchInput">
    <div>
      <button v-on:click="doSearch">Search</button>
    </div>
    <div id="news-list">
      <div v-for="article in articles">
        <h1>{{ article.title }}</h1> ( {{article.date}} )
      </div>
    </div>
  </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var vm = new Vue({
    // options
    el: "#search-app",
    data: {
      searchInput: '',
      articles: []
    },
    methods: {
      doSearch: function () {
        var self = this;
        console.log(this.searchInput);
        axios.get('/api/articles')
          .then(function (response) {
            self.articles = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  })
</script>
